<!-- Nosotros.component.html -->
<div class="container text-center">
    <!-- Sección de Historia -->
    <section>
      <h2>Historia</h2>
      <p>
        Fundada en 20w0, Tommy Higlfiger comenzó como un pequeño taller en el corazón de la ciudad con una visión clara: ofrecer ropa de alta calidad que combinara estilo y confort. Desde nuestros humildes comienzos, hemos crecido de manera constante, transformándonos en una marca reconocida a nivel nacional e internacional. A lo largo de los años, hemos expandido nuestra gama de productos, incorporando las últimas tendencias y tecnologías en la confección. Nuestro compromiso con la sostenibilidad y la innovación ha sido fundamental en nuestra evolución, permitiéndonos ofrecer a nuestros clientes no solo moda, sino también una experiencia de compra excepcional.
      </p>
    </section>
    <div class="row justify-content-around">
        <!-- Sección de Misión -->
    <section class="card" style="width: 500px">
        <h2>Misión</h2>
        <p>
          En Tommy Higlfiger, nuestra misión es redefinir la moda ofreciendo ropa que no solo se vea bien, sino que también se sienta bien. Nos dedicamos a crear prendas de alta calidad que combinan diseño moderno con comodidad y durabilidad. Buscamos inspirar a nuestros clientes a expresar su individualidad a través de la moda, mientras mantenemos un firme compromiso con prácticas sostenibles y éticas en todo nuestro proceso de producción. Nuestro objetivo es ser la marca de referencia para aquellos que buscan una moda consciente, accesible y de vanguardia.
        </p>
      </section>
      <!-- Sección de Visión -->
      <section class="card" style="width: 500px">
        <h2>Visión</h2>
        <p>
          Nuestra visión es ser líderes en la industria de la moda, marcando el estándar en innovación, calidad y sostenibilidad. Aspiramos a expandir nuestra presencia globalmente, llevando nuestra propuesta de valor a nuevos mercados y creando un impacto positivo en las comunidades que servimos. Queremos ser reconocidos no solo por nuestras colecciones exclusivas y elegantes, sino también por nuestra dedicación a la responsabilidad social y ambiental. En [Nombre de la Empresa], visualizamos un futuro donde la moda y la sostenibilidad coexisten armoniosamente, y nuestros clientes confían en nosotros para ofrecerles lo mejor en estilo y ética.
        </p>
      </section>
    </div>
  
    <!-- Tarjetas de Ejecutivos -->
    <section>
      <h2>Equipo Ejecutivo</h2>
      <div class="row">
        <!-- Tarjeta del Ejecutivo 1 -->
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://static.vecteezy.com/system/resources/previews/011/280/573/original/chief-execuive-officer-flat-long-shadow-icon-vector.jpg" class="card-img-top" alt="Nombre del Ejecutivo 1">
            <div class="card-body">
              <h5 class="card-title">Cristian Tulmo</h5>
              <p class="card-text">Cargo: Gerente</p>
            </div>
          </div>
        </div>
  
        <!-- Tarjeta del Ejecutivo 2 -->
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://static.vecteezy.com/system/resources/previews/011/280/573/original/chief-execuive-officer-flat-long-shadow-icon-vector.jpg" class="card-img-top" alt="Nombre del Ejecutivo 2">
            <div class="card-body">
                <h5 class="card-title">Cristian Tulmo</h5>
                <p class="card-text">Cargo: Gerente</p>
            </div>
          </div>
        </div>
  
        <!-- Tarjeta del Ejecutivo 3 -->
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://static.vecteezy.com/system/resources/previews/011/280/573/original/chief-execuive-officer-flat-long-shadow-icon-vector.jpg" class="card-img-top" alt="Nombre del Ejecutivo 3">
            <div class="card-body">
                <h5 class="card-title">Cristian Tulmo</h5>
                <p class="card-text">Cargo: Gerente</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
